.env
.env.backup
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
auth.json
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
todo.md
yarn-error.log
