.env
.env.backup
.phpunit.result.cache
/.idea
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/public/media
/storage/*.key
/vendor
auth.json
docker-compose.yml
Homestead.json
Homestead.yaml
ideas.md
npm-debug.log
storage/exports
todo.md
yarn-error.log
docker
